version: '3.9'

services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: cruddb
    volumes:
      - mongo_data:/data/db

  backend:
    image: tulasigowda/mean-backend:latest
    container_name: backend
    restart: always
    environment:
      MONGO_URL: mongodb://mongo:27017/cruddb
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  frontend:
    image: tulasigowda/mean-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data: